.user-icon {
    width: 40px;
    height: 40px;
    border-radius: 20px;
}

body {
    margin: 0;
}

.header-app-bar {
    flex-grow: 1;
    display: flex;
    flex-direction: row !important;
    align-items: center;
    padding-left: 15px;
}

.display-name {
    flex-grow: 1;
}

.very-center-wrapper {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.google-icon {
    height: 20px;
    width: 20px;
    border-radius: 10px;
    margin-left: 10px;
}

.question-section {
    display: flex;
    align-items: center;
    margin-left: 10px;
    height: 50px;
}

.question-number {
    border: 1px solid black;
    width: 25px;
    height: 25px;
    display: flex;
    justify-content: center;
    font-size: 1.25rem;
    border-radius: 13px;
    margin-right: 10px;
}

.links-to-quizzes {
    display: flex;
    padding: 15px;
    flex-direction: column;
}

.ReactPiano__Keyboard {
    height: 350px !important;
}