.ReactPiano__Keyboard {
  height: 100% !important;
}

div.ReactPiano__Key--accidental {
  @apply h-1/2 rounded;
}

.ReactPiano__Key--active {
  border-color: #78C9E7 !important;
  background: #78C9E7 !important;
}

div .ReactPiano__Key.ReactPiano__Key--natural {
  @apply rounded-md;
}
